.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.margin-top-40{
  margin-top: 40px;
}

.width-92{
  width: 92.5%;
}

.icon-deco{
  position: absolute;
  right: 16px;
  top: 50%;
  z-index: 5;
  color: #888;
  transform: translate(0, -50%);
  pointer-events: none;
}

select{
  -webkit-appearance: none;
}

.choosing:focus{
  outline: none;
  box-shadow: 0 0 0 1px rgb(87, 188, 255);
}


@mixin require{
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: $white;
  font-size: 15px;
  vertical-align: top;
  background: #ea352d;
}

@mixin any{
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: $white;
  font-size: 15px;
  vertical-align: top;
  background: #ccc;
}

@mixin head-title{
  float: left;
  color: #888;
  font-size: 15px;
  font-weight: bold;
}

@mixin question{
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0099e8;
  color: $white;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}

@mixin btn-form($bg-color: #ea352d, $color: #ea352d) {
  background: $bg-color;
  border: 1px solid $color;
  color: $white;
  display: block;
  line-height: 48px;
  font-size: 16px;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}

@mixin text-form{
  margin: 8px 0 0;
  border: 1px solid #ccc;
  background: $white;
  font-size: 19px;
  line-height: 1.5;
  font-weight: initial;
}

.exhibit{
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $off-white;
  &__container{
    background-color: $white;
    width: 780px;
    margin:0 auto;
    .inner-head{
      padding: 32px 16px;
      font-size: 26px;
      line-height: 2;
      text-align: center;
      font-weight: bold;
    }
    .exhibit-product{
      &__view{
        border-top: 1px solid #eee;
        padding: 40px;
        &--title{
          font-size: 19px;
          font-weight: bold;
          .require{
            @include require;
          }
        }
        &--text{
          font-size: 15px;
          margin: 8px 0 0;
          line-height: 1.5;
        }
        &--img{
          display: block;
          margin: 16px auto 0;
          position: relative;
          &__box{
            height: 180px;
            display: flex;
            position: relative;
          }
          &--text{
            padding:0 10px;
            pointer-events: none;
            text-align: center;
            font-size: 15px;
            width: 700px;
            position: absolute;
            z-index: 5;
            top: 65px;
            left: 0px;
          }
        }
      }
      &__name{
        padding: 40px;
        border-top: 1px solid #eee;
        &--title{
          font-weight: 600;
          .require{
            @include require;
          }
          .input-name{
            width: 100%;
            margin: 8px 0 0;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            @include text-form;
          }
        }
        &--explanation{
          font-weight: 600;
          margin: 40px 0 0;
          .require{
            @include require;
          }
          .input-explanation{           
            display: block;
            width: 100%;
            min-height: 104px;
            padding: 10px;
            @include text-form;
          }
        }
      }
      &__detail{
        padding: 40px;
        border-top: 1px solid #eee;
        &--head{
          @include head-title;
        }
        &__box{
          float: right;
          width: 450px;
          margin: 0;
          &--form{
            label{
              font-weight: 600;
              display: inline-block;
              .require{
                @include require;
              }
              .any{
                @include any;
              }
            }
            .select-box{
              margin: 8px 0 0;
              position: relative;
              background: $white;
              &--icon{
                position: absolute;
                right: 16px;
                top: 50%;
                z-index: 2;
                color: #888;
                font-size: 8px;
                -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
              }
              &--menu{
                background-color: $white;
                width: 100%;
                position: relative;
                z-index: 2;
                height: 55px;
                padding: 0 16px;
                border-radius: 4px;
                border: 1px solid #ccc;
                font-size: 16px;
                line-height: 1.5;
                cursor: pointer;
                font-weight: initial;
              }
            }
          }
          &--group{
            label{
              font-weight: 600;
              display: inline-block;
              .require{
                @include require;
              }
            }
            .select-box{
              margin: 8px 0 0;
              position: relative;
              background: $white;
              &--icon{
                position: absolute;
                right: 16px;
                top: 50%;
                z-index: 2;
                color: #888;
                font-size: 8px;
                -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
              }
              &--menu{
                background-color: $white;
                width: 100%;
                position: relative;
                z-index: 2;
                height: 55px;
                padding: 0 16px;
                border-radius: 4px;
                border: 1px solid #ccc;
                font-size: 16px;
                line-height: 1.5;
                cursor: pointer;
                font-weight: initial;
              }
            }
          }
        }
      }
      &__delivery{
        padding: 40px;
        border-top: 1px solid #eee;
        &--head{
          @include head-title
        }
        .question{
          @include question
        }
        .question:hover{
          background-color: #65b4db;
          text-decoration: underline;
        }
        &__box{
          float: right;
          width: 450px;
          margin: 0;
          &__delivery{
            font-weight: 600;
            .require{
              @include require;
            }
            .select-box{
              margin: 8px 0 0;
              position: relative;
              &--menu{
                background-color: $white;
              }
              select{
                width: 100%;
                position: relative;
                z-index: 2;
                height: 55px;
                padding: 0 16px;
                border-radius: 4px;
                border: 1px solid #ccc;
                font-size: 16px;
                line-height: 1.5;
                cursor: pointer;
                font-weight: initial;
              }
            }
          }
          &__group{
            font-weight: 600;
            .require{
              @include require;
            }
            .select-box{
              margin: 8px 0 0;
              position: relative;
              &--menu{
                background-color: $white;
              }
              select{
                width: 100%;
                position: relative;
                z-index: 2;
                height: 55px;
                padding: 0 16px;
                border-radius: 4px;
                border: 1px solid #ccc;
                font-size: 16px;
                line-height: 1.5;
                cursor: pointer;
                font-weight: initial;
              }
            }
          }
        }
      }
      &__price{
        padding: 40px;
        border-top: 1px solid #eee;
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &--head{
          @include head-title;
        }
        .question{
          @include question
        }
        .question:hover{
          background-color: #65b4db;
          text-decoration: underline;
        }
        &__box{
          float: right;
          width: 450px;
          margin: 0;
          .product-price{
            list-style: none;
            &--form{
              padding: 0 0 24px;
              border: 0;
              &--head{
                width: 50%;
                line-height: 48px;
                font-weight: 600;
                float: left;
                .require{
                  @include require;
                }
              }
              &--mark{
                width: 50%;
                text-align: right;
                float: right;
                div{
                  display: inline-block;
                  width: 80%;
                  margin: 0 0 0 5%;
                  .input-price{
                    box-sizing: border-box;
                    text-align: right;
                    width: 100%;
                    height: 55px;
                    padding: 10px 16px 8px;
                    border-radius: 4px;
                    border: 1px solid #ccc;
                    background: $white;
                    line-height: 1.5;
                    font-size: 16px;
                    font-weight: initial;
                  }
                }
              }
            }
            &--fee{
              padding: 24px 0;
              border-top: 1px solid #ccc;
              .p-left{
                float: left;
              }
              .p-right{
                float: right;
              }
            }
            &--profit{
              padding: 24px 0;
              border-top: 1px solid #ccc;
              font-weight: 600;
              .p-left{
                float: left;
                font-weight: bold;
                font-size: 16px;
              }
              .p-right{
                float: right;
                font-size: 34px;
              }
            }
          }
        }
      }
      &__confirmation{
        padding: 40px;
        border-top: 1px solid #eee;
        p{
          line-height: 1.5;
          a{
            color: #0099e8;
            text-decoration: none;
          }
          a:hover{
            color: #65b4db;
            text-decoration: underline;
          }
        }
        .btn-submit{   
          width: 100%;
          margin: 40px 0 0;
          @include btn-form;
        }
        .btn-return{
          text-decoration: none;
          width: 45%;
          margin: 24px auto 0;
          @include btn-form(#aaa, #aaa);
        }
        .btn-return:hover{
          background-color: rgb(200, 200, 200);
          border: 1px solid rgb(200, 200, 200);
        }
      }
    }
  }
}

#brands-search-result{
  width: 108%;
  max-height: 280px;
  display: none;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.64);
  background: #fff;
  overflow: auto;
  position: absolute;
  z-index: 10;
  .brand-form{
    width: 100%;
    height: 50px;
    padding: 16px 8px;
    font-size: 14px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .brand-form:hover{
    color: #fff;
    background-color: rgb(0, 127, 212);
  }
}

.img-box{
  width: 700px;
  margin: 0;
  background-color: #f5f5f5;
  border: 1px dashed #ccc;
  box-sizing: border-box;
  margin: 0 0 0 10px;
  .view_box{
    .file{
      height: 130px;
      width: 100%;
      opacity: 0;
      cursor: pointer;
      position: relative;
    }
  }
}

.img_view{
  width: 100%;
  .img {
    height: 130px;
    width: 126px;
    object-fit: cover;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    padding: 15px 2px;
  }
  .view_option{
    float: flex;
    &--edit{
      color: #0099e8;
      float: left;
      height: 50px;
      width: 63px;
      text-align: center;
      line-height: 50px;
      text-decoration: none;
    }
    &--edit:hover{
      color: #3fb3ec;
    }
    &--delete{
      color: #0099e8;
      float: right;
      height: 50px;
      width: 63px;
      text-align: center;
      line-height: 50px;
      text-decoration: none;
      border-left: 1px solid #eee;
    }
    &--delete:hover{
      color: #3fb3ec;
    }
  }
}

.error{
  color: #ea352d;
  font-size: 15px;
  margin-top: 5px;
  font-weight: 100;
}

