= render "devise/shared/header"
.registration-contents
  .registration-contents__section
    .registration-contents__section--title
      %h2 新規会員登録
    .registration-contents__section--maine
      .registration-contents__section--maine--btn
        .registration-contents__section--maine--btn--mail
          %i.far.fa-envelope.fa-lg.mail
          %a.mail-text メールアドレスで登録する
        .registration-contents__section--maine--btn--facebook
          %i.fab.fa-facebook-square.fa-2x.facebook
          %a.facebook-text Facebookで登録する
        .registration-contents__section--maine--btn--google
          %i.fab.fa-google.fa-lg.google
          %a.google-text Googleで登録する
= render "devise/shared/footer"