.user-footer
  .user-footer__section
    %ul.list
      %li 
        %a{:href => "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
      %li 
        %a{:href => "https://www.mercari.com/jp/tos/"} メルカリ利用規約
      %li 
        %a{:href => "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
    .user-footer__section--logo{:href => "https://www.mercari.com/jp/"}
      %img{:alt => "mercari", :height => "65", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?465897195", :width => "80"}/
    .user-footer__section--name
      %p ©︎2019 Mercari