.signup-header
  .signup-header__wrapper
    %h1.signup-header__wrapper__logo
      = link_to "#", class: "signup-header__wrapper__logo__link" do
        = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?465897195", class: "signup-header__wrapper__logo__link__image"
    %nav.signup-header__wrapper__root
      %ol.signup-header__wrapper__root__ol
        %li.signup-header__wrapper__root__ol__li
          会員登録
          %div{class: "signup-header__wrapper__root__ol__li--point point--1"}
        %li.signup-header__wrapper__root__ol__li
          電話登録認証
          %div{class: "signup-header__wrapper__root__ol__li--point point--2"}
        %li.signup-header__wrapper__root__ol__li
          お届け先住所登録
          %div{class: "signup-header__wrapper__root__ol__li--point point--3"}
        %li.signup-header__wrapper__root__ol__li
          支払い方法
          %div{class: "signup-header__wrapper__root__ol__li--point point--4"}
        %li.signup-header__wrapper__root__ol__li
          完了
          %div{class: "signup-header__wrapper__root__ol__li--point point--5"}

