.signup-footer
  .signup-footer__section
    %ul.signup-footer__section__ul
      %li.signup-footer__section__ul__li 
        %a{href: "https://www.mercari.com/jp/privacy/", class:"signup-footer__section__ul__li__link"} 
          プライバシーポリシー
      %li.signup-footer__section__ul__li2 
        %a{href: "https://www.mercari.com/jp/tos/", class:"signup-footer__section__ul__li__link"} 
          メルカリ利用規約
      %li.signup-footer__section__ul__li2 
        %a{href: "https://www.mercari.com/jp/tokutei/", class:"signup-footer__section__ul__li__link"} 
          特定商取引に関する表記
    %a.signup-footer__section__homepage{href: "#"}
      = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?465897195', class: 'signup-footer__section__homepage__image'
    .signup-footer__section__copyright
      %p ©︎2019 Mercari