%script{src:"https://kit.fontawesome.com/fc4fabc90c.js", crossorigin: "anonymous"}
.user-header
  %div.user-header--logo
    = link_to image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?465897195", style: "height:49px"), root_path
