.signup-header
  .signup-header__wrapper
    %h1.signup-header__wrapper__logo
      = link_to "#", class: "signup-header__wrapper__logo__link" do
        = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?465897195", class: "signup-header__wrapper__logo__link__image"
    %nav.signup-header2__wrapper__root
      %ol.signup-header2__wrapper__root__ol
        %li.signup-header2__wrapper__root__ol__li1
          会員登録
          .signup-header2__wrapper__root__ol__li1--point
        %li.signup-header2__wrapper__root__ol__li2
          電話登録認証
          .signup-header2__wrapper__root__ol__li2--point
        %li.signup-header2__wrapper__root__ol__li3
          お届け先住所登録
          .signup-header2__wrapper__root__ol__li3--point
        %li.signup-header2__wrapper__root__ol__li4
          支払い方法
          .signup-header2__wrapper__root__ol__li4--point
        %li.signup-header2__wrapper__root__ol__li5
          完了
          .signup-header2__wrapper__root__ol__li5--point

