= render "complete-header"
.signup-form
  .signup-form__container
    %h2.signup-form__container__title
      会員登録完了
    .signup-form__container__main
      .signup-form__container__inner
        .signup-form__container__inner__form
          %p.signup-form__container__inner__form__done  
            ありがとうございます。
            %br
            会員登録が完了しました。
= render 'form-footer'
    
      
          
