= render "form-header"
.form3
  .form3__container
    %h2.form3__container__title
      クレジットカード情報入力
    .form3__container__main
      .form3__container__inner
        %p.form3__container__inner__text  
          ありがとうございます。
          %br
          会員登録が完了しました。
    
      
          
