= render "form-header"
.signup-form
  .signup-form__container
    %h2.signup-form__container__title
      会員情報入力
    .signup-form__container__main
      .signup-form__container__inner
        .signup-form__container__inner__form
          .signup-form__container__inner__form__pack-label
            %span.signup-form__container__inner__form__pack-label__text
              ニックネーム
            %span.signup-form__container__inner__form__pack-label__required-i 
              必須
          %input.signup-form__container__inner__form__field{name: "nickname", placeholder:  "例）メルカリ太郎", type: "text"}
        .signup-form__container__inner__form
          .signup-form__container__inner__form__pack-label
            %span.signup-form__container__inner__form__pack-label__text
              メールアドレス
            %span.signup-form__container__inner__form__pack-label__required-i 
              必須
          %input.signup-form__container__inner__form__field{name: "email", placeholder:  "例）メールアドレス", type: "text"}
        .signup-form__container__inner__form
          .signup-form__container__inner__form__pack-label
            %span.signup-form__container__inner__form__pack-label__text 
              パスワード
            %span.signup-form__container__inner__form__pack-label__required-i
              必須
          %input.signup-form__container__inner__form__field{name: "password", placeholder:  "例）７文字以上", type: "password"}
        .signup-form__container__inner__form
          .signup-form__container__inner__form__pack-label
            %span.signup-form__container__inner__form__pack-label__text  
              パスワード(確認)
            %span.signup-form__container__inner__form__pack-label__required-i 
              必須
          %input.signup-form__container__inner__form__field{name: "encrypted_password", placeholder:  "例）７文字以上", type: "password"}
          %span.signup-form__container__inner__form__identification 
            %h3.signup-form__container__inner__form__identification--h3
              本人確認
            %p.signup-form__container__inner__form__identification--p
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        .signup-form__container__inner__form
          .signup-form__container__inner__form__pack-label
            %span.signup-form__container__inner__form__pack-label__text 
              お名前(全角)
            %span.signup-form__container__inner__form__pack-label__required-i
              必須
          %input.signup-form__container__inner__form__field{name: "last_name", placeholder:  "例）山田", type: "text"}
          %input.signup-form__container__inner__form__field{name: "name", placeholder:  "例）彩", type: "text"}
        .signup-form__container__inner__form
          .signup-form__container__inner__form__pack-label
            %span.signup-form__container__inner__form__pack-label__text
              お名前カナ(全角)
            %spa.signup-form__container__inner__form__pack-label__required-i
              必須
          %input.signup-form__container__inner__form__field{name: "last-name-f", placeholder:  "例）ヤマダ", type: "text"}
          %input.signup-form__container__inner__form__field{name: "name-f", placeholder:  "例）アヤ", type: "text"}
        .signup-form__container__inner__form
          .signup-form__container__inner__form__pack-label
            %span.signup-form__container__inner__form__pack-label__text
              生年月日
            %span.signup-form__container__inner__form__pack-label__required-i 
              必須
          = render 'birthday'
          .signup-form__container__inner__form__atention
            ※ 本人情報は正しく入力してください。会員登録後、
            %br 修正するにはお時間を頂く場合があります。
        %p.signup-form__container__inner__agree
          「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします
        %button.signup-form__container__inner__submit{type: "submit"}
          次へ進む
= render "devise/shared/footer"






