.product__block__wrapper
  %ul.product__block__ul
    %li.product__block__li
      %a.product__block__li__link{href: "#"}
        .product__block__li__link__image
          %img.product__block__li__link__image{src: "https://i.pinimg.com/736x/8a/37/b1/8a37b165d067a5fd4fa304ebc5345f5c.jpg"}
          .product__block__li__link__price
            ¥2,400
        .product__block__li__link__title
          冬セーター(ピンク)
    %li.product__block__li
      %a.product__block__li__link{href: "#"}
        .product__block__li__link__image
          %img.product__block__li__link__image{src: "https://www.rickis.com/dw/image/v2/AANE_PRD/on/demandware.static/-/Sites-product-catalog/default/dwbe4120dd/images/Rickis/general_apparel/7096ed5149jm18b_001_1.jpg?sw=635&sh=762&sm=fit"}
          .product__block__li__link__price
            ¥2,400
        .product__block__li__link__title
          冬セーター(ピンク)
