.item__main-content__photo__frame__dots__dot
  %span
  .item__main-content__photo__frame__dots__dot__inner
    -# = image_tag 'https://static.mercdn.net/item/detail/orig/photos/m99446772363_4.jpg?1567144501', class: 'item__main-content__photo__frame__dots__dot__inner__image', alt: "ARMANI/CASA アルマーニカーザ ARPA カトラリーセット"
    = @image.product_id.picture