.item__main-content__photo
  .item__main-content__photo__frame
    .item__main-content__photo__frame__stage-outer
      .item__main-content__photo__frame__stage-outer__stage
        %ul.item__main-content__photo__frame__stage-outer__stage__item#lightSlider
          %li.item__main-content__photo__frame__stage-outer__stage__item__inner
            = image_tag @product.images,size:'300x300'
               