-# %section.items-in-user-profile__container__content__block
-#   %a.items-in-user-profile__container__content__block__link.link-item-detail{:href => "https://item.mercari.com/jp/m71195863532/"}    
-#     %figure.items-in-user-profile__container__content__block__link__photo   
-#       = image_tag product.images[0].picture.url
-#     .items-in-user-profile__container__content__block__link__body
-#       %h3.items-in-user-profile__container__content__block__link__body__name ARMANI/CASA アルマーニカーザ LOUIS スーププレート
-#       .items-in-user-profile__container__content__block__link__body__num
-#         .items-in-user-profile__container__content__block__link__body__num__price ¥6,000
-#         .items-in-user-profile__container__content__block__link__body__num__mark
-#           %i.fa.fa-heart.icon-item-detail
-#           %span.items-in-user-profile__container__content__block__link__body__num__mark__lank 1
