%section.items-in-user-profile__container__content__block
  %li.items-in-user-profile__container__content__block__link
    = link_to "",users_path, class: "link-item-detail"
  
  -# link-item-detail{:href => "https://item.mercari.com/jp/m71195863532/"}
    %figure.items-in-user-profile__container__content__block__link__photo
      = image_tag 'https://static.mercdn.net/thumb/photos/m71195863532_1.jpg?1567146565', class: 'items-in-user-profile__container__content__block__link__photo__image', alt: "ARMANI/CASA アルマーニカーザ LOUIS スーププレート"
    .items-in-user-profile__container__content__block__link__body
      %h3.items-in-user-profile__container__content__block__link__body__name ARMANI/CASA アルマーニカーザ LOUIS スーププレート
      .items-in-user-profile__container__content__block__link__body__num
        .items-in-user-profile__container__content__block__link__body__num__price ¥6,000
        .items-in-user-profile__container__content__block__link__body__num__mark
          %i.fa.fa-heart.icon-item-detail
          %span.items-in-user-profile__container__content__block__link__body__num__mark__lank 