%section.items-in-user-profile__container__content__block
  %a.items-in-user-profile__container__content__block__link.link-item-detail{:href => "https://item.mercari.com/jp/m71195863532/"}
    %figure.items-in-user-profile__container__content__block__link__photo
      = image_tag 'https://static.mercdn.net/thumb/photos/m71195863532_1.jpg?1567146565', class: 'items-in-user-profile__container__content__block__link__photo__image', alt: "ARMANI/CASA アルマーニカーザ LOUIS スーププレート"
    .items-in-user-profile__container__content__block__link__body
      %h3.items-in-user-profile__container__content__block__link__body__name ARMANI/CASA アルマーニカーザ LOUIS スーププレート
      .items-in-user-profile__container__content__block__link__body__num
        .items-in-user-profile__container__content__block__link__body__num__price ¥6,000
        .items-in-user-profile__container__content__block__link__body__num__mark
          %i.fa.fa-heart.icon-item-detail
          %span.items-in-user-profile__container__content__block__link__body__num__mark__lank 1


          -# %section.items-box
          -#   %a{:href => "https://item.mercari.com/jp/m71195863532/"}
          -#     %figure.items-box-photo
          -#       %img.lazyload{:alt => "ARMANI/CASA アルマーニカーザ LOUIS スーププレート", "data-src" => "https://static.mercdn.net/thumb/photos/m71195863532_1.jpg?1567146565"}/
          -#     .items-box-body
          -#       %h3.items-box-name.font-2 ARMANI/CASA アルマーニカーザ LOUIS スーププレート
          -#       .items-box-num
          -#         .items-box-price.font-5 ¥6,000
          -#         .font-2
          -#           %i.icon-like-border
          -#           %span 1
          -# %section.items-box
          -#   %a{:href => "https://item.mercari.com/jp/m81669985039/"}
          -#     %figure.items-box-photo
          -#       %img.lazyload{:alt => "ARMANI/CASA アルマーニカーザ LOUIS カップ ソーサー セット", "data-src" => "https://static.mercdn.net/thumb/photos/m81669985039_1.jpg?1567146260"}/
          -#     .items-box-body
          -#       %h3.items-box-name.font-2 ARMANI/CASA アルマーニカーザ LOUIS カップ ソーサー セット
          -#       .items-box-num
          -#         .items-box-price.font-5 ¥23,000
          -#         .font-2
          -#           %i.icon-like-border
          -#           %span 4
          -# %section.items-box
          -#   %a{:href => "https://item.mercari.com/jp/m86512085135/"}
          -#     %figure.items-box-photo
          -#       %img.lazyload{:alt => "インテリア雑貨 セット スクエアプレート ストーン フェイク羽根", "data-src" => "https://static.mercdn.net/thumb/photos/m86512085135_1.jpg?1567142913"}/
          -#     .items-box-body
          -#       %h3.items-box-name.font-2 インテリア雑貨 セット スクエアプレート ストーン フェイク羽根
          -#       .items-box-num
          -#         .items-box-price.font-5 ¥1,100
          -# %section.items-box
          -#   %a{:href => "https://item.mercari.com/jp/m39994729700/"}
          -#     %figure.items-box-photo
          -#       %img.lazyload{:alt => "【aysh様専用】プチバトー 刺繍スウェットカーディガン 18m/81cm 80", "data-src" => "https://static.mercdn.net/thumb/photos/m39994729700_1.jpg?1568178158"}/
          -#       %figcaption
          -#         .item-sold-out-badge
          -#           %div SOLD
          -#     .items-box-body
          -#       %h3.items-box-name.font-2 【aysh様専用】プチバトー 刺繍スウェットカーディガン 18m/81cm 80
          -#       .items-box-num
          -#         .items-box-price.font-5 ¥1,900
          -#         .font-2
          -#           %i.icon-like-border
          -#           %span 12
          -# %section.items-box
          -#   %a{:href => "https://item.mercari.com/jp/m48030622344/"}
          -#     %figure.items-box-photo
          -#       %img.lazyload{:alt => "OCF ストライダー用 フォークオフセッター 低頭ボルト付き", "data-src" => "https://static.mercdn.net/thumb/photos/m48030622344_1.jpg?1566448785"}/
          -#       %figcaption
          -#         .item-sold-out-badge
          -#           %div SOLD
          -#     .items-box-body
          -#       %h3.items-box-name.font-2 OCF ストライダー用 フォークオフセッター 低頭ボルト付き
          -#       .items-box-num
          -#         .items-box-price.font-5 ¥6,000
          -#         .font-2
          -#           %i.icon-like-border
          -#           %span 6
          -# %section.items-box
          -#   %a{:href => "https://item.mercari.com/jp/m76601988559/"}
          -#     %figure.items-box-photo
          -#       %img.lazyload{:alt => "インテリア雑貨 ソルト ペッパー ボトル 塩 こしょう 入れ", "data-src" => "https://static.mercdn.net/thumb/photos/m76601988559_1.jpg?1567142582"}/
          -#     .items-box-body
          -#       %h3.items-box-name.font-2 インテリア雑貨 ソルト ペッパー ボトル 塩 こしょう 入れ
          -#       .items-box-num
          -#         .items-box-price.font-5 ¥550

          -# %section.items-box
          -#   %a{:href => "https://item.mercari.com/jp/m11589079962/"}
          -#     %figure.items-box-photo
          -#       %img.lazyload{:alt => "ハローキティおはしとれんげセット", "data-src" => "https://static.mercdn.net/thumb/photos/m11589079962_1.jpg?1572255059"}/
          -#     .items-box-body
          -#       %h3.items-box-name.font-2 ハローキティおはしとれんげセット
          -#       .items-box-num
          -#         .items-box-price.font-5 ¥777
          -# %section.items-box
          -#   %a{:href => "https://item.mercari.com/jp/m94370551218/"}
          -#     %figure.items-box-photo
          -#       %img.lazyload{:alt => "小さいスプーンとフォーク セット", "data-src" => "https://static.mercdn.net/thumb/photos/m94370551218_1.jpg?1572255043"}/
          -#     .items-box-body
          -#       %h3.items-box-name.font-2 小さいスプーンとフォーク セット
          -#       .items-box-num
          -#         .items-box-price.font-5 ¥2,000
          -# %section.items-box
          -#   %a{:href => "https://item.mercari.com/jp/m76688293480/"}
          -#     %figure.items-box-photo
          -#       %img.lazyload{:alt => "トイストーリー4 フォーキー ♡", "data-src" => "https://static.mercdn.net/thumb/photos/m76688293480_1.jpg?1572255022"}/
          -#     .items-box-body
          -#       %h3.items-box-name.font-2 トイストーリー4 フォーキー ♡
          -#       .items-box-num
          -#         .items-box-price.font-5 ¥800
          -#         .font-2
          -#           %i.icon-like-border
          -#           %span 1
          -# %section.items-box
          -#   %a{:href => "https://item.mercari.com/jp/m70091172789/"}
          -#     %figure.items-box-photo
          -#       %img.lazyload{:alt => "使用済みのスプーン、フォーク", "data-src" => "https://static.mercdn.net/thumb/photos/m70091172789_1.jpg?1572254825"}/
          -#     .items-box-body
          -#       %h3.items-box-name.font-2 使用済みのスプーン、フォーク
          -#       .items-box-num
          -#         .items-box-price.font-5 ¥2,000
          -# %section.items-box
          -#   %a{:href => "https://item.mercari.com/jp/m31997023518/"}
          -#     %figure.items-box-photo
          -#       %img.lazyload{:alt => "高級レンゲスプーン 5本", "data-src" => "https://static.mercdn.net/thumb/photos/m31997023518_1.jpg?1572062069"}/
          -#     .items-box-body
          -#       %h3.items-box-name.font-2 高級レンゲスプーン 5本
          -#       .items-box-num
          -#         .items-box-price.font-5 ¥3,000
          -#         .font-2
          -#           %i.icon-like-border
          -#           %span 1
          -# %section.items-box
          -#   %a{:href => "https://item.mercari.com/jp/m43605740420/"}
          -#     %figure.items-box-photo
          -#       %img.lazyload{:alt => "アイスクリーム スプーン 2本 ゴールド", "data-src" => "https://static.mercdn.net/thumb/photos/m43605740420_1.jpg?1572254585"}/
          -#     .items-box-body
          -#       %h3.items-box-name.font-2 アイスクリーム スプーン 2本 ゴールド
          -#       .items-box-num
          -#         .items-box-price.font-5 ¥450
