.listset{ 
  pointer-events: none;
    .h-link_r{
    pointer-events: auto;
    font-size: 15px;
    color: black;
    font-weight: normal;
    }
    .fa-lg{
    color:pink;
    font-size:133%;
    }
  }
  .listset:hover{
  opacity: 0.7;
  .h-link_r:hover{
  color:blue;
  }
}

.listset2{ 
  pointer-events: none;
    .h-link_r{
    pointer-events: auto;
    }
    .fa-lg{
    color:pink;
    font-size:133%;
    }
    .h-link_r2{
    font-weight:normal;
    color: black;
    font-size: 15px;
    }
  }
  .listset2:hover{
  opacity: 0.7;
   .h-link_r2:hover{
   color:blue;
   }
   .h-link_r:hover{
    color:blue;
   }
  }

