.exhibit{
  padding-top: 40px;
}

.margin-left-37{
  margin-left: 37%;
}

.width-775{
  width: 775px;
}

.width-335{
  width: 300px;
  height: 400px;
}

.height-465{
  height: 465px;
}

.padding-8{
  padding: 8px;
}


@mixin btn-default{
  display: block;
  width: 100%;
  line-height: 50px;
  font-size: 15px;
  border: 1px solid transparent;
  cursor: pointer;
  text-align: center;
}

.exhibit{
  padding-bottom: 50px;
  .item__main-content.clearfix-item-detail{
    display:flex;
    justify-content:center; 
      .item__main-content__photo{
      &__detail{
        width: 300px;
        height: 330px;
        overflow: hidden;
        &__stage{
          left: 0px;
          width: 1550px;
          height: 330px;
          position: relative;
          &__item{
            position:absolute;
            width:300px;
            height:330px;
            &__image {
              opacity: 3;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              margin: auto;
              width: 100%;
              vertical-align: bottom;
              height: 100%;
              object-fit:cover;
            }
          }
        }
      }  
      &__details{
        width: 100%;
        height: 70px;
        display:flex;
        &__dot{
          opacity: 3;
          width: 66px;
          height:70px;
          max-height: none;
          position: relative;
          overflow: hidden;
          justify-content: space-between;
          &__image{
            position: absolute;
            top: 0;
            left: 50%;
            width: 100%;
            height: 100%;
            transform: translate(-50%, 0);
            vertical-align: bottom;
            object-fit:cover;
          }
        }
      }
    }
  }
  .information{
    margin: 24px 0;
    background-color: white;
    width: 775px;
    margin-left: 37%;
    padding: 24px 24px;
    &__edit{
      @include btn-default;
      margin: 0 0 16px 0;
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
    }
    &__edit:hover{
      opacity: 0.7;
      filter: alpha(opacity=80);
      -moz-opacity: 0.7;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
    }
    .or{
      font-size: 16px;
      text-align: center;
    }
    &__stop{
      @include btn-default;
      margin: 16px 0 16px 0;
      background: #aaa;
      border: 1px solid #aaa;
      color: #fff;
    }
    &__delete{
      @include btn-default;
      margin: 16px 0 0 0;
      background: #aaa;
      border: 1px solid #aaa;
      color: #fff;
    }
  }
  
  .comment-area{
    background-color: white;
    width: 775px;
    margin-left: 37%;
    padding: 24px 24px;
    &__message{
      padding: 8px;
      font-size: 15.5px;
      background: #fff6de;
      line-height: 18px;
    }
    &__form{
      margin: 8px 0 0;
      display: block;
      width: 100%;
      max-width: 100%;
      min-height: 104px;
      padding: 10px;
      border: 1px solid #ccc;
      background: #fff;
      font-size: 16px;
      line-height: 1.5;
    }
    &__send{
      @include btn-default;
      width: 100%;
      margin: 8px 0 0;
      text-align: center;
      background: #aaa;
      border: 1px solid #aaa;
      color: #fff;
    }
  }  
}

.gray_panel{
  background : #000;
  opacity  : 0.5;
  width  : 100%;
  height  : 99999px;
  position : fixed;
  top   : 0;
  left  : 0;
  display  : none;
  z-index  : 50;
}

.popup{
  height: 330px;
  width: 670px;
  margin:0 auto;
  background-color:white;
  box-sizing: border-box;
  &__message{
    padding: 70px 0;
    width: 100%;
    height: 260px;
    text-align: center;
    .confirmation{
      font-size: 19px;
      font-weight: bold;
    }
    .text1{
      font-size: 16px;
      font-weight: 100;
    }
    .text2{
      font-size: 16px;
      margin-top: 20px;
      font-weight: 100;
    }
  }
  &__btn{
    display: flex;
    font-size: 15px;
    border-top: 1px solid #aaa;
    &--cancel{
      font-size: 16px;
      line-height: 70px;
      text-align: center;
      width: 50%;
      border-right: 1px solid #aaa;
      cursor: pointer;
    }
    &--delete{
      width: 50%;
      text-align: center;
      .delete-alert{
        color: #0099e8;
        outline: 0;
        font-size: 16px;
        text-decoration: none;
        line-height: 70px;
        height: 100%;
        width: 100%;
        display: block;
      }
    }
  }
}

.link-blue-color{
text-decoration: none;
color:#0099e8;
}