*{
box-sizing: border-box;
}

h2#header-nav__parent__root{
position: relative; 
  .h-deco{
  text-decoration: none;
  }
    .h-link{
    color:black;
    font-weight: bold;
    font-size:15px;
    }
    .h-link:hover{
    opacity: 0.7;
    color:blue;
    }
 
    ul.header-nav__parent{
    display: none;      /* ★標準では非表示にする */
    position: absolute; /* ★絶対配置にする */
    top:24px;
    background-color:white;
    border:solid thin lightpink;
      li.header-nav__parent__detail {
      width: 220px;               /* サブメニュー1項目の横幅(135px) */
      }
        li.header-nav__parent__detail a {
        line-height: 35px;   /* サブメニュー1項目の高さ(35px) */
        text-align: left;    /* 文字列の配置(左寄せ) */
        padding-left: 5px;   /* 文字列前方の余白(5px) */
        font-weight: normal; /* 太字にはしない */
        text-decoration: none;
        color:black;
        }  
        li.header-nav__parent__detail a:hover {
        background-color:red; /* サブメニュー項目にマウスが載ったときの背景色(淡い黄色) */
        color: white;            /* サブメニュー項目にマウスが載ったときの文字色(濃い緑色) */
        }
    }
          ul.header-nav__child{
          position:absolute;
          top:15px;
          left:240px;
            li.header-nav__child__detail{
            display: none;      /* ★標準では非表示にする */
            width:240px;     
            }
              li.header-nav__child__detail a{
              line-height: 35px;   /* サブメニュー1項目の高さ(35px) */
              text-align: left;    /* 文字列の配置(左寄せ) */
              padding-left: 10px;   /* 文字列前方の余白(5px) */
              font-weight: normal; /* 太字にはしない */
              text-decoration: none;
              width:220px;
              border:solid thin lightpink;
              }
              li.header-nav__child__detail a:hover {
              background-color:lightpink; /* サブメニュー項目にマウスが載ったときの背景色(淡い黄色) */
              }
            }
                li.header-nav__grand-child__detail{
                display: none;      /* ★標準では非表示にする */
                position: absolute; /* ★絶対配置にする */
                left: 100%;         /* ★基準位置からの距離を親ボックスの幅100％にする */
                text-decoration: none;
                }
                li.header-nav__grand-child__detail a{
                  line-height: 35px;   /* サブメニュー1項目の高さ(35px) */
                  text-align: left;    /* 文字列の配置(左寄せ) */
                  padding-left: 5px;   /* 文字列前方の余白(5px) */
                  font-weight: normal; /* 太字にはしない */
                  text-decoration: none;
                  }
                li.header-nav__grand-child__detail a:hover {
                background-color:lightpink; /* サブメニュー項目にマウスが載ったときの背景色(淡い黄色) */
                }
}
            