*{
box-sizing: border-box;
}
h2#header-nav__parent__root{
  position: relative; 
  z-index:1000;
  .h-deco{
    text-decoration: none;
    }
    .h-link{
      color:black;
      font-weight: bold;
      font-size:15px;
      }
    .h-link:hover{
      opacity: 0.7;
      color:blue;
      }
 
  ul.header-nav__parent{
    display: none;
    position: absolute;
    top:24px;
    background-color:white;
    border:solid thin lightpink;
    li.header-nav__parent__detail {
      width: 220px;
      }
      li.header-nav__parent__detail a {
        line-height: 35px;
        text-align: left;
        padding-left: 5px;
        font-weight: normal;
        text-decoration: none;
        color:black;
        }  
      li.header-nav__parent__detail a:hover {
        background-color:red;
        color: white;
        }
    }
        ul.header-nav__child{
          position:absolute;
          top:15px;
          left:240px;
          li.header-nav__child__detail{
            display: none;
            width:240px;
            }
            li.header-nav__child__detail a{
              line-height: 35px;
              text-align: left;
              padding-left: 10px;
              font-weight: normal;
              text-decoration: none;
              width:220px;
              border:solid thin lightpink;
              }
            li.header-nav__child__detail a:hover {
              background-color:lightpink; 
              }
            }
              li.header-nav__grand-child__detail{
                display: none;
                position: absolute; 
                left: 100%;
                text-decoration: none;
                }
                li.header-nav__grand-child__detail a{
                  line-height: 35px;
                  text-align: left;
                  padding-left: 5px;
                  font-weight: normal;
                  text-decoration: none;
                  }
                li.header-nav__grand-child__detail a:hover {
                  background-color:lightpink;
                }
}

