*{
font-family: Arial, Helvetica, sans-serif; 
}

.header{
  background-color:white;
  height:90px;
  width:100vw;
  list-style: none;
  .header-inner{
    &__top{
      height:50px;
      width: 100%;
      padding:6px 6px;
      display: flex;
      justify-content: center;
      box-sizing:border-box;
      &__logo{
      font-weight:light;
      display: inline-block;
      margin-right:-15px;
      padding-right:40px;
      }
      &__form{
        display: inline-block;
        width: 60%;
        height: 50px;
        margin-left:12px;
        form{
          background-color: rgb(250, 234, 236);
          width:100%;
          position: relative;
          }    
          input[class="form_search"]{
            font-size:16px;
            width:100%;
            background-color: #f5f5f5;
            border: 0.5px solid #999;
            border-radius: 3px;
            box-shadow: none;
            height:40px;  
            padding: 10px;        
            }
            input[class="form_search"]:focus{
              outline: none;
              border-color: #1e7dd4;
            }
          label.header-inner__top__form__search-icon_r{
            font-size:20px;
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            cursor: pointer;
          }
        }
    }    
  &__bottom{
    height:50px;
    width:75%;
    padding-left:13px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    position:relative;
    &__left{
      width:40%;
      height:50px;
      display: flex;
      justify-content:space-between;
      font-size:12px; 
      font-weight:900;
      align-items: center;
      &__category{
        font-weight: bold;
        position:absolute;
        top:12px;
        } 
        &__list-icon{
          color:red;
        }
      &__brand{
        margin-left:15px;
        position:absolute;
        font-weight: bold;
        top:12px;
        left:140px;
        &__tag-icon_r{
          position:relative;
          span.h{
          color: black;
          text-decoration: none;
          font-weight: bold;
          font-size: 15px;
          position:absolute;
          top:0;
          }  
        }
      }   
    &__like{
      margin-left:12px;
      position:absolute;
      font-weight: normal;
      top:12px;
      left: 400px;
      }
    &__news{
      margin-left:5px;
      position:absolute;
      font-weight: normal;
      top:12px;
      left: 550px;
    }
    &__todo{
      margin-left:12px;
      position:absolute;
      font-weight: normal;
      top:12px;
      left: 650px;
    }
    &__user{
      margin-left:15px;
      position:absolute;
      font-weight: normal;
      top:2px;
      left: 800px;
    }
    }
  }
  }
}

