.gnav__category-top {
  display: flex;
  margin: 0 auto;
  width: 900px;
  &--link{
    font-size:13px;
    text-decoration: none;
    z-index:100;
    color: black;
    .like-icon{
      font-size:17px;
    }
  }
  &--right{
    font-size:13px;
    text-decoration: none;
    z-index:100;
    color: #ccc;
    pointer-events : none;
    .header__mypage--icon{
      float: left;
    }
    .header--bottom--icon{
      font-size:17px;
      padding-right:3px;
    }
    .gnav__category-top--link--text {
      color: black;
      pointer-events: auto;
    }
    .gnav__category-top--link--text:hover{
      color:#1e7dd4 ;
    }
  }
  &--under{
    margin-top:-30px;
    padding: 40px;
  &--my{
    padding-top:20px;
    font-size:13px;
    text-decoration: none;
    color: #ccc;
    .header__mypage--icon{
      float: left;
      margin-top:-8px;
  }
  .gnav__mypage--text{
    float:right;
    
  }
}
}
}
.gnav__category-news{
  display: flex;
  margin: 0 auto;
  width: 900px;
  &--right{
    font-size:13px;
    text-decoration: none;
    z-index:100;
    color: #ccc;
    pointer-events : none;
    .header--bottom--icon{
      font-size:17px;
      padding-right:3px;
    }
    .gnav__category-news--link--text {
      color: black;
      pointer-events: auto;
    }
    .gnav__category-news--link--text:hover{
      color:#1e7dd4 ;
    }
  }
}

.gnav__category-news > li {
  width: 20%;
  margin-right:50px;
}

.gnav__category-news li {
  list-style: none;
  position: relative;
  z-index:100;
}

.gnav__category-news li ul{
  margin-top:7px;
  width: 300px;
  font-size: 12px;
  font-weight: normal;
  background: white;
  float: right;
  box-shadow: 2px 0px 5px  #bfc5c9;
}

.gnav__category-news li ul li a {
  display: block;
  width: 100%;
  padding-left:15px;
  padding-top:15px;
  color: #000;
  text-decoration: none;
}

.gnav__category-news li ul li {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity .5s;
  border-color: rgba(191, 197, 197, 0.2);
}


.gnav__category-news li:hover > ul > li {
  height: 5rem;
  width:100%;
  opacity: 1;
  overflow: visible;
  border-bottom: 1px solid;
  border-color: rgba(191, 197, 197, 0.2);
}

.gnav__category-top__news--list--photo{
  margin-top:6px;
}
.gnav__category-top__news--list--text {
  padding-top:8px;
  margin-right:80px;
  top:10px;
  float:right;
}

.news-icon--parent{
  margin-top:-10px;
  margin-left: 70px;
  float:left;
  color: rgba(191, 197, 197, 0.8);
}

.news--icon--keds{
  float:right;
  margin-right:20px;
  margin-top:-30px;
  font-size:15px;
  color: rgba(191, 197, 197, 0.8);
}

.gnav__category-top__news li:hover{
  background-color: rgba(204, 204, 204, 0.2);
}

.gnav__category-todo{
  display: flex;
  margin: 0 auto;
  width: 900px;
  &--right{
    font-size:13px;
    text-decoration: none;
    z-index:100;
    color: #ccc;
    pointer-events : none;
    .header--bottom--icon{
      font-size:17px;
      padding-right:3px;
    }
    .gnav__category-todo--link--text {
      color: black;
      pointer-events: auto;
    }
    .gnav__category-todo--link--text:hover{
      color:#1e7dd4 ;
    }
  }
}

.gnav__category-todo > li {
  width: 20%;
  margin-right:50px;
}

.gnav__category-todo li {
  list-style: none;
  position: relative;
  z-index:100;
}

.gnav__category-todo li ul{
  margin-top:7px;
  margin-left: 100px;
  width: 280px;
  font-size: 12px;
  font-weight: normal;
  background: white;
  float: right;
  box-shadow: 2px 0px 5px  #bfc5c9;
}

.gnav__category-todo li ul li a {
  display: block;
  width: 100%;
  padding-left:15px;
  padding-top:15px;
  line-height: 2.5rem;
  color: #000;
  text-align: left;
  text-decoration: none;
}

.gnav__category-todo li ul li {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity .5s;
  border-color: rgba(191, 197, 197, 0.2);
}


.gnav__category-todo li:hover > ul > li {
  height: 5rem;
  width:100%;
  opacity: 1;
  overflow: visible;
  border-bottom: 1px solid;
  border-color: rgba(191, 197, 197, 0.2);
}

.gnav__category-top__todo--list--text{
  margin-top: -10px;
  margin-right: 70px;
  font-size:12px;
  float: right;
}



.gnav__category-top__news--list{
  margin-right:100px;
  padding-top:-20px;
  
}



.gnav__category-top > li {
  width: 20%;
  margin-right:30px;
}

.gnav__category-mypage{
  display: flex;
  margin: 0 auto;
  width: 900px;
  &--under{
    margin-top:-30px;
    padding: 40px;
  &--my{
    padding-top:20px;
    font-size:13px;
    text-decoration: none;
    color: #ccc;
    .header__mypage--icon{
      float: left;
      margin-top:-8px;
  }
  .gnav__mypage--text{
    float:right;
  }
}
}
}

.gnav__category-mypage > li {
  width: 20%;
  margin-right:50px;
}

.gnav__category-mypage li {
  list-style: none;
  position: relative;
  z-index:100;
}

.gnav__category-mypage li ul{
  margin-top:6px;
  margin-left: 150px;
  width: 320px;
  font-size: 12px;
  font-weight: normal;
  background: white;
  float: right;
  box-shadow: 2px 0px 5px  #bfc5c9;
}

.gnav__category-mypage li ul li a {
  padding-left:15px;
  padding-top:20px;
  color: #000;
  text-decoration: none;
}

.mypage__nav--list--top-good{
  margin-left:90px;
}

.mypage__nav--list--my--list{
  height: 20px;
  width: 70%;
}

.gnav__category-mypage li ul li {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity .5s;
  border-color: rgba(191, 197, 197, 0.2);
}


.gnav__category-mypage li:hover > ul > .mypage__nav--list--top {
  height: 453px;
  width:100%;
  opacity: 1;
  overflow: visible;
  border-bottom: 1px solid;
  border-color: rgba(191, 197, 197, 0.2);
}

.gnav__category-top__mypage--list--text{
  margin-top: -10px;
  margin-right: 70px;
  font-size:12px;
  float: right;
}

.mypage__nav--list--top--my{
  height: 150px;
}


.mypage__nav--list--top--list--box{
  left:20px;
  padding:10px;
  height: 40px;
  width: 280px;
  margin-top:5px;
  margin-left: 20px;
  border: 1px solid ;
  border-color: rgba(204, 204, 204, 0.2);
  background-color: rgba(204, 204, 204, 0.1);
  &--text{
    float: left;
  }
  &--text--right{
    float:right;
  }
  
}
.mypage__nav--list--top--list--box:hover{
  opacity: 0.7;
  cursor: pointer;
}

.mypage__nav--list--top--list--box--under{
  left:20px;
  padding:10px;
  height: 40px;
  width: 280px;
  margin-left: 20px;
  border: 1px solid ;
  border-top:none;
  border-color: rgba(204, 204, 204, 0.2);
  background-color: rgba(204, 204, 204, 0.1);
  &--text{
    float: left;
  }
  &--text--right{
    float:right;
  }
}

.mypage__nav--list--top--list--box--under:hover{
  opacity: 0.7;
  cursor: pointer;
}


.mypage__nav--list--top--content{
  height: 45px;
  width: 100%;
  top:20px;
  border-top: 1px solid;
  border-color:rgba(204, 204, 204, 0.2);
  padding:15px;
  line-height: 10px;
  .mypage--content--icon{
    margin-left: 190px;
    margin-top:3px;
    font-size:15px;
    color: rgb(191, 197, 197);
  }
  &--text{
    margin-top:5px;
    float:left;
  }
}


.mypage__nav--list--top--content:hover{
  background-color: rgba(191, 197, 197, 0.2);
  cursor: pointer;
}

.mypage__nav--list--top--content--first{
  height: 45px;
  width: 100%;
  border-top: 1px solid;
  border-color:rgba(204, 204, 204, 0.2);
  padding:15px;
  line-height: 10px;
  margin-top:8px;
  .mypage--content--icon{
    margin-left: 190px;
    margin-top:3px;
    font-size:15px;
    color: rgb(191, 197, 197);
  }
  &--text{
    margin-top:5px;
    float:left;
  }
}

.mypage__nav--list--top--content--first:hover{
  background-color: rgba(191, 197, 197, 0.2);
  cursor: pointer;
}



.gnav__category-top li {
  list-style: none;
  position: relative;
  z-index:100;
}

.gnav__category-top li ul{
  margin-top:7px;
  margin-right: 10px;
  width: 200px;
  font-size: 12px;
  font-weight: normal;
  background: white;
  box-shadow: 2px 0px 5px  #bfc5c9;
}


.gnav__category-top li ul li a {
  display: block;
  height: 2.5rem;
  width: 100%;
  padding: 2px;
  padding-left:15px;
  line-height: 2.5rem;
  color: #000;
  text-align: left;
  text-decoration: none;
}


.gnav__category-top li ul li {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity .3s;
  border-color: rgba(191, 197, 197, 0.2);
}


.gnav__category-top  li:hover > ul> li {
  height: 2.5rem;
  opacity: 1;
}

.gnav__category-top li ul li:hover > ul > li{
  height: 1.8rem;
  opacity: 1;
}

.gnav__category-top li ul li .gnav__category-top__child {
  left: 100%;
  position: absolute;
  top: -8px;
  width: 100%;
  height: 561px;
}

.gnav__category-top li ul li ul li .gnav__category-top__groundchild {
  left: 100%;
  position: absolute;
  top: -8px;
  width: 300px;
  height: 561px;
}

.gnav__category-top li ul li ul .gnav__category-top__child--list{
  height: 1.8rem;
}

.gnav__category-top__child--list{
  height: 1rem;
}
.gnav__category-top li ul li ul .gnav__category-top__child--list a {
  line-height: 1.8rem;
}



.gnav__category-top li ul li ul li ul .gnav__category-top__groundchild--list{
  height: 1.8rem;
  width: 300px;
}

.gnav__category-top li ul li ul li ul .gnav__category-top__groundchild--list a {
  width: 300px;
  line-height: 1.8rem;
}

.gnav__category-top li .gnav__category-top__news{
  width: 300px;
}

.gnav__category-top__news--list{
  height: 100px;
}

.gnav__category-top li .gnav__category-top__news {
  width:300px;
}

.gnav__category-top li .gnav__category-top__todo{
  width: 300px;
}

.gnav__category-top > li:hover > a {
  color: #1e7dd4;
}

.gnav__category-top > li:hover > a tt {
  color: #1e7dd4;
}

.gnav__category-news > li:hover > a  {
  color: #1e7dd4;
}

.gnav__category-news > li:hover > a  tt{
  color: #1e7dd4;
}

.gnav__category-todo > li:hover > a {
  color: #1e7dd4;
}

.gnav__category-todo > li:hover > a tt {
  color: #1e7dd4;
}

.gnav__category-mypage > li:hover > a {
  color: #1e7dd4;
}


.gnav__category-top > li ul .gnav__category-top__parent--list:hover > a {
  color: white;
  background:#ff3e3e;
}

.gnav__category-top > li ul li ul li:hover > a{
  background-color: rgba(204, 204, 204, 0.2);
  height: 1.8rem;
}

.gnav__category-top > li ul li:hover{
  overflow:visible;
}

.gnav__category-top > li ul li ul li:hover{
  overflow:visible ;
}

.gnav__category-top li ul li ul li ul li > a {
  height: 1.8rem;
}
.gnav__category-top li ul li ul li ul li:hover > a {
  color: #000;
  background-color: rgba(204, 204, 204, 0.2);
  width: 300px;
}