.signup-form__container__inner__form{
  &__identification{
    &--h3{
      font-size: 16px;
      font-weight: bold;
      margin: 24px 0 0;
    }
    &--p{
      font-size: 14px;
    }
  }
  &__select__birthday{
    width: 31%;
    display: inline-block;
    padding:2px;
    position: relative;
    &__icon{
      position: absolute;
      left:60px;
      top: 24px; 
      color: #888;
      font-size: 20px;
      pointer-events: none;
      z-index: 1;
    }
    &__date{
      height: 48px;
      padding: 0 16px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      line-height: 1.5;
      outline-color: rgb(0, 149, 238);
      outline-width: 2px;
      -webkit-appearance: none;
      color: gray;
      width: 83%;
      position: relative;
      background: 0;
      margin: 8px 0 0;
      margin-right: 2px;
    }
  }
  &__atention{
    color: #888;
    line-height: 1.5;
    font-size: 14px;
  }
}
.signup-form__container__inner__agree{
  line-height: 1.5;
  text-align: center;
  color: black;
  font-size: 16px;
}