@mixin pointer-logo{
  font-weight: 600;
  font-size: 12px;
  display: inline-block;
  min-width: 40px;
  margin: 0 5% 0 0;
  position: relative;
  z-index: 1;
}

@mixin pointer{
  width: 12px;
  height: 12px;
  margin: 8px auto 0;
  border-radius: 50%;
  display: block;
}

@mixin pointer_line{
  position: absolute;
  bottom: 5px;
  z-index: -1;
  display: block;
  content: '';
  width: 130%;
  height: 2px;
}

@mixin arrow_icon{
  color: #888;
  font-size: 16px;
  pointer-events: none;
}

@mixin field{
  border: 1px solid #ccc;
  border-radius: 4px;
  line-height: 1.5;
  outline-color: rgb(0, 149, 238);
  outline-width: 2px;
  -webkit-appearance: none;
}