// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#item-detail {
  position: relative;
  min-height: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;
  color: rgb(51, 51, 51);
  line-height: 1;
  background: rgb(245, 245, 245);
  display: block;
  margin: 0;
  padding: 0;
}

.clearfix-item-detail::after {
  content: '';
  display: block;
  clear: both;
}

.link-item-detail {
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
}

.link-item-detail:hover {
  text-decoration:underline;
}

.link-current-color {
  color: currentColor;
}

.link-blue-color {
  color: #0099e8;
}

.p-item-detail {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.icon-item-detail {
  display: inline-block;
  font-family: 'icon-font';
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.item {
  background: #fff;
  width: 700px;
  padding: 24px 40px 40px;
  margin: 40px auto 0;
  box-sizing: border-box;
  &__name {
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.4;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  &__wording {
    margin: 8px 0 0;
    font-size: 14px;
    color: #888;
    line-height: 1.5;  
    &__link {
      color: currentColor;
    }
  }
  &__main-content {
    margin: 16px 0 0;
    &__photo {
      float: left;
      position: relative;
      width: 300px;
      height: 375px;
      margin: 0 auto;
      background: #fafafa;
      &__frame {
        position: relative;
        &__stage-outer {
          position: relative;
          overflow: hidden;
          // height:300px;
          &__stage {
            left: 0px;
            width: 1500px;
            height:300px;
            position: relative;
            &__item {
              width: 300px;
              height: 300px;
              // min-height: 1px;
              // float: left;
              // user-select: none;
              position:absolute;
              // &__inner {
              //   height: 300px;
              //   position: relative;
              //   width: 300px;
              //   padding: 0 0 100%;
              &__image {
                opacity: 3;
                // position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                width: 100%;
                vertical-align: bottom;
                height: 100%;
                object-fit:cover;
                }
              
            }
          }
        }
        &__dots {
          // line-height: 0;
          width:300px;
          // height:60px;
          &__dot {
            opacity: 3;
            cursor: default;
            width: 60px;
            height: 60px;
            max-height: none;
            position: relative;
            display: inline-block;
            overflow: hidden;
            &__image {
              position: absolute;
              top: 0;
              left: 50%;
              width: 100%;
              height: 100%;
              transform: translate(-50%, 0);
              vertical-align: bottom;
              object-fit:cover;
            }
            
          }
        }
      }
    }
    &__detail-table {
      float: right;
      display: table;
      width: 300px;
      height: 420px;
      margin: 0 auto; 
      border-collapse: collapse;
      border: 1px solid #f5f5f5;
      border-spacing: 0;
      &__row {
        border-top: 1px solid #f5f5f5;
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
        &__header {
          padding: 8px;
          width: 39%;
          text-align: left;
          font-weight: 400;
          background: #fafafa;  
        }
        &__data {
          width: 61%;
          background: #fff;
          border-collapse: collapse;
          padding: 8px;
          box-sizing: border-box;
          .fa {
            color: #0099e8;
          }
          &__user {
            display: block;
          }
          &__rate {
            margin-top: 9px;
            &__user-ratings:first-child {
              margin: 0;
            }
            &__user-ratings {
              display: inline-block;
              margin: 8px 0 0 16px;
              .fa {
                font-size: 16px;
                vertical-align: middle;
              }             
              .fa-grin {
                color: #ef5185;
              }
              .fa-meh {
                color: #fba933;
              }
              .fa-frown {
                color: #6ab5d8;
              }
            }
          }
        }
      }
    }
  }
  &__price-box {
    margin: 24px 0 0;
    text-align: center;
    &__price {
      margin: 0 8px 0 0;
      font-size: 32px;
      font-weight: 600;
    }
    &__tax {
      font-size: 10px;
    }
    &__shipping-fee {
      display: inline-block;
      font-size: 16px;
    }
  }

  &__buy-btn {
    display: block;
    margin-top: 16px;
    background: #ea352d;
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 60px;
    transition: all;
  }
  &__shipping-not-allowed-message {
    margin-top: 16px;
    color: #ea352d;
    line-height: 1.5;
    font-size: 14px;
    text-align: center;
  }
  &__description {
    padding: 32px 0 0;
    line-height: 1.5;
    font-size: 14px;
    &__inner {
      white-space: pre-wrap;
    }
  }
  &__button-container {
    margin: 16px 0 0;
    font-size: 0;
    &__button-left {
      float: left;
      &__button-like {
        display: inline-block;
        padding: 8px 16px;
        border-radius: 40px;
        transition: all;
        color: #333;
        border: 1px solid #f5f5f5;
        background: #f5f5f5;
        .fa {
          font-size: 14px;
          vertical-align: middle;
          color: #ccc;
        }
        &__letter {
          font-size: 14px;
          display: inline-block;
          margin: 1px 0 0 8px;
          vertical-align: middle;
        }
      }
      &__button-report {
        display: inline-block;
        padding: 8px 16px;
        border-radius: 40px;
        transition: all;
        margin: 0 0 0 16px;
        color: #333;
        background: #f5f5f5;
        .fa {
          font-size: 14px;
          vertical-align: middle;
        }
        &__letter {
          font-size: 14px;
          display: inline-block;
          margin: 1px 0 0 8px;
          vertical-align: middle;
        }
      }
    }
    &__button-right {
      margin: 8px 0 0;
      float: right;
      &__link-safety {
        display: inline-block;
        color: #0099e8;
        .fa {
          font-size: 14px;
          vertical-align: middle;
        }
        &__letter {
          font-size: 14px;
          display: inline-block;
          margin: 1px 0 0 8px;
          vertical-align: middle;
        }
      }
    }
  }
}

.item-detail-message {
  width: 700px;
  margin: 8px auto;
}

.item-link {
  width: 700px;
  margin: 24px auto 0;
  list-style: none;
  display: block;
  &__prev {
    width: 45%;
    position: relative;
    word-wrap: break-word;
    float: left;
    padding: 0 0 0 14px;
    &__blue-link {
      color: #0099e8;
    }
  }
  &__next {
    width: 45%;
    position: relative;
    word-wrap: break-word;
    float: right;
    padding: 0 14px 0 0;
    text-align: right;
    &__blue-link {
      color: #0099e8;
    }
  }
}


.social-media-content {
  margin: 24px auto;
  padding: 32px 0 24px;
  width: 700px;
  background: #fff;
  &__text {
    height: 14px;
  }
  &__box {
    margin: 16px 0 0;
    text-align: center;
    font-size: 0;
    list-style: none;
    display: block;
    &__list {
      display: inline-block;
      margin: 0 8px 8px 0;
      vertical-align: middle;
      text-align: center;
      &__share-btn {
        display: block;
        .fab {
          width: 44px;
          height: 44px;
          border-radius: 4px;
          line-height: 44px;
          font-size: 50px;
        }
        .fa-facebook-square {
          color: #385185;
          background: #fff;
        }
        .fa-twitter-square {
          color: #5d9dc9;
          background: #fff;
        }
        .fa-line {
          color: #00c137;
          background: #fff;
        }
        .fa-pinterest-square {
          color: #aa262a;
          background: #fff;
        }
      }
    }
  }
}

.items-in-user-profile {
  width: 700px;
  margin: 0 auto;
  &__container {
    width: 700px;
    margin: 0 auto;
    &__head {
      font-size: 22px;
      margin: 24px 0 8px;
      line-height: 1.4;
      font-weight: bold;
      &__link {
        color: #0099e8;
      }
    }
    &__content {
      width: auto;
      margin: 0 auto;
      &__block:nth-child(3n) {
        margin-right: 0;
      }
      &__block {
        width: 220px;
        margin: 0 20px 20px 0;
        position: relative;
        float: left;
        background: #fff;
        &__link {
          display: block;
          color: #333;
          height: 330px;
          &__photo {
            width: 220px;
            overflow: hidden;
            position: relative;
            padding: 0 0 100%;
            display: block;
            margin: 0;
            &__image {
              width: auto;
              left: 50%;
              right: auto;
              height: 100%;
              transform: translate(-50%, 0);
              position: absolute;
              top: 0;
              bottom: 0;
              z-index: 1;
              opacity: 1;
              transition: opacity .3s;
              vertical-align: middle;
            }
          }
          &__body {
            padding: 16px;
            height: 110px;
            &__name {
              overflow: hidden;
              position: relative;
              font-weight: 400;
              height: 3em;
              line-height: 1.5;
              word-break: break-word;
              white-space: normal;
              font-size: 16px;
              color: #333;
              display: block;
            }
            &__num {
              display: flex;
              -webkit-box-align: center;
              align-items: center;
              -webkit-box-pack: justify;
              justify-content: space-between;
              margin: 8px 0 0;
              &__price {
                font-size: 17px;
                font-weight: 600;
                color: #333;
              }
              &__mark {
                font-size: 16px;
                font-weight: 400;
                color: #333;
                .fa {
                  color: #ccc;
                }
              }
            }
          }
        }
      }
    }
  }
}

.pos-bottom {
  background: #f5f5f5;
  box-shadow: none;
  position: relative;
  border-top: 1px solid #eee;
  display: block;
  &__list {
    width: 1020px;
    overflow: visible;
    margin: 0 auto;
    padding: 16px 0;
    white-space: normal;
    font-size: 0;
    list-style: none;
    &__left-part {
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      font-size: 14px;
      line-height: 1.2;
      .fa {
        margin: 0 8px;
        font-size: 9px;
        color: #888;
      }
    }
    &__right-part {
      font-weight: 600;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      font-size: 14px;
      line-height: 1.2;
    }
  }
 } 

 test_image{
   height:100px;
   width:100px;
   padding-left:6px;
 }
  




