%h2#header-nav__parent__root
  = link_to root_path,class:"h-deco" do
    %i.fa.fa-list-ul.h-link-icon.fa-lg
    %span.h-link カテゴリから探す
  %ul.header-nav__parent
    %li.header-nav__parent__detail
      %a{href:'#'}レディース
      %ul.header-nav__child
        %li.header-nav__child__detail
          %a{href: 'https://www.mercari.com/jp/category/11/'}トップス
          %ul.header-nav__grand-child
            %li.header-nav__grand-child__detail
              %a{href: 'https://www.mercari.com/jp/category/119'}Tシャツカットソー(半袖袖なし) 
            %li.header-nav__grand-child__detail
              %a{href: 'https://www.mercari.com/jp/category/120'}Tシャツカットソー(七分長袖)
        %li.header-nav__child__detail
          %a{href: 'https://www.mercari.com/jp/category/12'}ジャケットアウター       
          %ul.header-nav__grand-child
            %li.header-nav__grand-child__detail
              %a{href:'https://www.mercari.com/jp/category/137'}テーラードジャケット
            %li.header-nav__grand-child__detail
              %a{href:'https://www.mercari.com/jp/category/138'}ノーカラージャケット 
    %li.header-nav__parent__detail
      %a{href:'#'}メンズ 
    %li.header-nav__parent__detail
      %a{href:'https://www.mercari.com/jp/category/3'}ベビー・キッズ 
