.f-container
  .app-banner
  .global-footer
    .global-footer__cell-1
      %h2.global-footer__about__title
        メルカリについて
        %li
          %a{href: '#'}会社概要（運営会社）
        %li
          %a{href: '#'}採用情報
        %li
          %a{href: '#'}プレスリリース
        %li
          %a{href: '#'}公式ブログ
        %li
          %a{href: '#'}メルカリロゴ利用ガイドライン
        %li.social-link-f
          %a{href: '#'}     
            = fa_icon 'twitter',class:'icon_f fa-3x'
          
        %li.social-link-f
          %a{href: '#'}
            = fa_icon 'facebook-square',class:'icon_f fa-3x'
          
    .global-footer__cell-2
      %h2.global-footer__help-guide__title
        ヘルプ＆ガイド
        %li
          %a{href: '#'}メルカリガイド
        %li
          %a{href: '#'}らくらくメルカリ便
        %li
          %a{href: '#'}ゆうゆうメルカリ便
        %li
          %a{href: '#'}大型メルカリ便
        %li
          %a{href: '#'}車体取引ガイド
        %li
          %a{href: '#'}メルカリあんしん・あんぜん宣言！
        %li
          %a{href: '#'}偽ブランド品撲滅への取り組み
        %li
          %a{href: '#'}メルカリボックス

    .global-footer__cell-3
      %h2.global-footer__cell-3__title
        プライバシーと利用規約
      .global-footer__cell-3__inner-left
        %li
          %a{href: '#'}プライバシーポリシー
        %li
          %a{href: '#'}メルカリ利用規約
        %p.f
          %a{href: '#'}あんしんスマホサポート制度に関する
        %p.f  
          %a{href: '#'}利用特約
        %li
          %a{href: '#'}コンプライアンスポリシー 
      .global-footer__cell-3__inner-right
        %p.f
          %a{href: '#'}個人データの安全管理に係る
        %p.f  
          %a{href: '#'}基本方針
        %li
          %a{href: '#'}特定商取引に関する表記
        %li
          %a{href: '#'}資金決済法に基づく表示
        %li
          %a{href: '#'}法令順守と犯罪抑止のために

    .global-footer__language
      %h2.global-footer__language__title
        国
        %li
          %a{href: '#'}日本
        %li
          %a{href: '#'}United States
  .footer-bottom
    %a.mercari-footer-i{href: "/www.mercari.com/jp/"}
    .copyright-i
   




