<p class='item__wording p-item-detail'>
  『ARMANI/CASA アルマーニカーザ ARPA カトラリーセット』は、45回の取引実績を持つ
  <% link_to "レディース", root_path, class: "contents__middle__category__names__list" %>
  さんから出品されました。
  <% link_to "レディース", root_path, class: "contents__middle__category__names__list" %>
  の商品で、東京都から2~3日で発送されます。
</p>
